extends layout

block content
  h1= title
  p Hello, World! Welcome to #{title}

  div
    table#test
      thead
        tr
          td(colspan=3)
          td FT
          td OT
          td P
      tbody
        tr
          td 
              img(src="images/BRA.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Brazil"
          td
            input(id="inputmatchpred_49_1_FT", type="text", name="game_49_1_FT")
          td
            input(id="inputmatchpred_49_1_OT", type="text", name="game_49_1_OT", readonly)
          td
            input(id="inputmatchpred_49_1_P", type="text", name="game_49_1_P", readonly)
        tr
          td 
              img(src="images/CRO.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Croatia"
          td 
            input(id="inputmatchpred_49_2_FT", type="text", name="game_49_2_FT")
          td
            input(id="inputmatchpred_49_2_OT", type="text", name="game_49_2_OT", readonly)
          td
            input(id="inputmatchpred_49_2_P", type="text", name="game_49_2_P", readonly)
  br
  br
  br
  div
    table#test
      thead
        tr
          td(colspan=3)
          td FT
          td OT
          td P
      tbody
        tr
          td 
              img(src="images/BRA.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Brazil"
          td
            input(id="inputmatchpred_49_1_FT", type="text", name="game_49_1_FT")
          td
            input(id="inputmatchpred_49_1_OT", type="text", name="game_49_1_OT", readonly)
          td
            input(id="inputmatchpred_49_1_P", type="text", name="game_49_1_P", readonly)
        tr
          td 
              img(src="images/CRO.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Croatia"
          td 
            input(id="inputmatchpred_49_2_FT", type="text", name="game_49_2_FT")
          td
            input(id="inputmatchpred_49_2_OT", type="text", name="game_49_2_OT", readonly)
          td
            input(id="inputmatchpred_49_2_P", type="text", name="game_49_2_P", readonly)
  br
  br
  br
  div
    table#test
      thead
        tr
          td(colspan=3)
          td FT
          td OT
          td P
      tbody
        tr
          td 
              img(src="images/BRA.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Brazil"
          td
            input(id="inputmatchpred_49_1_FT", type="text", name="game_49_1_FT")
          td
            input(id="inputmatchpred_49_1_OT", type="text", name="game_49_1_OT", readonly)
          td
            input(id="inputmatchpred_49_1_P", type="text", name="game_49_1_P", readonly)
        tr
          td 
              img(src="images/CRO.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Croatia"
          td 
            input(id="inputmatchpred_49_2_FT", type="text", name="game_49_2_FT")
          td
            input(id="inputmatchpred_49_2_OT", type="text", name="game_49_2_OT", readonly)
          td
            input(id="inputmatchpred_49_2_P", type="text", name="game_49_2_P", readonly)
  br
  br
  br
  div
    table#test
      thead
        tr
          td(colspan=3)
          td FT
          td OT
          td P
      tbody
        tr
          td 
              img(src="images/BRA.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Brazil"
          td
            input(id="inputmatchpred_49_1_FT", type="text", name="game_49_1_FT")
          td
            input(id="inputmatchpred_49_1_OT", type="text", name="game_49_1_OT", readonly)
          td
            input(id="inputmatchpred_49_1_P", type="text", name="game_49_1_P", readonly)
        tr
          td 
              img(src="images/CRO.svg.png" height="50" width="50")
          td(style="width: 20px")
                  &nbsp;
          td#team1
              p="Croatia"
          td 
            input(id="inputmatchpred_49_2_FT", type="text", name="game_49_2_FT")
          td
            input(id="inputmatchpred_49_2_OT", type="text", name="game_49_2_OT", readonly)
          td
            input(id="inputmatchpred_49_2_P", type="text", name="game_49_2_P", readonly)