extends layout

block content
    each r, i in gamesresult
        h1= r.username
        table#games
            thead
                tr
            tbody
                tr
                    td 
                        img(src="images/BRA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Brazil"
                    td#result
                        p=r.game1BRA +" - "+r.game1CRO
                        each game, g in games
                            if game.match_id == 1 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Croatia"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CRO.svg.png" height="50" width="50")
                
                tr
                    td 
                        img(src="images/MEX.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Mexico"
                    td#result
                        p=r.game2MEX +" - "+r.game2CMR
                        each game, g in games
                            if game.match_id == 2 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                                    
                    td#team2
                        p="Cameroon"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CMR.svg.png" height="50" width="50")
                
                tr
                    td 
                        img(src="images/ESP.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Spain"
                    td#result
                        p=r.game3ESP +" - "+r.game3NED
                        each game, g in games
                            if game.match_id == 3 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Netherlands"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/NED.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/CHI.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Chile"
                    td#result
                        p=r.game4CHI +" - "+r.game4AUS
                        each game, g in games
                            if game.match_id == 4 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Australia"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/AUS.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/COL.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Colombia"
                    td#result
                        p=r.game5COL +" - "+r.game5GRE 
                        each game, g in games
                            if game.match_id == 5 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Greece"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/GRE.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/CIV.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Côte d'Ivoire"
                    td#result
                        p=r.game6CIV +" - "+r.game6JPN
                        each game, g in games
                            if game.match_id == 6 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Japan"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/JPN.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/URU.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Uruguay"
                    td#result
                        p=r.game7URU +" - "+r.game7CRC
                        each game, g in games
                            if game.match_id == 7 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Costa Rica"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CRC.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/ENG.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="England"
                    td#result
                        p=r.game8ENG +" - "+r.game8ITA
                        each game, g in games
                            if game.match_id == 8 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Italy"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ITA.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/SUI.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Switzerland"
                    td#result
                        p=r.game9SUI +" - "+r.game9ECU
                        each game, g in games
                            if game.match_id == 9 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Ecuador"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ECU.svg.png" height="50" width="50")
                
                

                tr
                    td 
                        img(src="images/FRA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="France"
                    td#result
                        p=r.game10FRA +" - "+r.game10HON
                        each game, g in games
                            if game.match_id == 10 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Honduras"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/HON.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ARG.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Argentina"
                    td#result
                        p=r.game11ARG +" - "+r.game11BIH
                        each game, g in games
                            if game.match_id == 11 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Bosnia and Herzegovina"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/BIH.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/IRN.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Iran"
                    td#result
                        p=r.game12IRN +" - "+r.game12NGA
                        each game, g in games
                            if game.match_id == 12 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Nigeria"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/NGA.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/GER.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Germany"
                    td#result
                        p=r.game13GER +" - "+r.game13POR
                        each game, g in games
                            if game.match_id == 13 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Portugal"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/POR.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/GHA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Ghana"
                    td#result
                        p=r.game14GHA +" - "+r.game14USA
                        each game, g in games
                            if game.match_id == 14 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="USA"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/USA.svg.png" height="50" width="50")
                

                tr
                    td 
                        img(src="images/BEL.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Belgium"
                    td#result
                        p=r.game15BEL +" - "+r.game15ALG
                        each game, g in games
                            if game.match_id == 15 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Algeria"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ALG.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/RUS.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Russia"
                    td#result
                        p=r.game16RUS +" - "+r.game16KOR
                        each game, g in games
                            if game.match_id == 16 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Korea Republic"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/KOR.svg.png" height="50" width="50")       

                tr
                    td 
                        img(src="images/BRA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Brazil"
                    td#result
                        p=r.game17BRA +" - "+r.game17MEX
                        each game, g in games
                            if game.match_id == 17 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Mexico"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/MEX.svg.png" height="50" width="50")         

                tr
                    td 
                        img(src="images/CMR.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Cameroon"
                    td#result
                        p=r.game18CMR +" - "+r.game18CRO
                        each game, g in games
                            if game.match_id == 18 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Croatia"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CRO.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ESP.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Spain"
                    td#result
                        p=r.game19ESP +" - "+r.game19CHI
                        each game, g in games
                            if game.match_id == 19 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Chile"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CHI.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/AUS.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Australia"
                    td#result
                        p=r.game20AUS +" - "+r.game20NED
                        each game, g in games
                            if game.match_id == 20 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Netherlands"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/NED.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/COL.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Colombia"
                    td#result
                        p=r.game21COL +" - "+r.game21CIV
                        each game, g in games
                            if game.match_id == 21 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Côte d'Ivoire"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CIV.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/JPN.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Japan"
                    td#result
                        p=r.game22JPN +" - "+r.game22GRE
                        each game, g in games
                            if game.match_id == 22 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Greece"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/GRE.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/URU.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Uruguay"
                    td#result
                        p=r.game23URU +" - "+r.game23ENG
                        each game, g in games
                            if game.match_id == 23 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="England"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ENG.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ITA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Italy"
                    td#result
                        p=r.game24ITA +" - "+r.game24CRC
                        each game, g in games
                            if game.match_id == 24 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Costa Rica"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CRC.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/SUI.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Switzerland"
                    td#result
                        p=r.game25SUI +" - "+r.game25FRA
                        each game, g in games
                            if game.match_id == 25 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="France"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/FRA.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/HON.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Honduras"
                    td#result
                        p=r.game26HON +" - "+r.game26ECU
                        each game, g in games
                            if game.match_id == 26 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Ecuador"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ECU.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ARG.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Argentina"
                    td#result
                        p=r.game27ARG +" - "+r.game27IRN
                        each game, g in games
                            if game.match_id == 27 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Iran"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/IRN.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/NGA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Nigeria"
                    td#result
                        p=r.game28NGA +" - "+r.game28BIH
                        each game, g in games
                            if game.match_id == 28 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Bosnia and Herzegovina"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/BIH.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/GER.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Germany"
                    td#result
                        p=r.game29GER +" - "+r.game29GHA
                        each game, g in games
                            if game.match_id == 29 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Ghana"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/GHA.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/USA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="USA"
                    td#result
                        p=r.game30USA +" - "+r.game30POR
                        each game, g in games
                            if game.match_id == 30 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Portugal"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/POR.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/BEL.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Belgium"
                    td#result
                        p=r.game31BEL +" - "+r.game31RUS
                        each game, g in games
                            if game.match_id == 31 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Russia"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/RUS.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/KOR.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Korea Republic"
                    td#result
                        p=r.game32KOR +" - "+r.game32ALG
                        each game, g in games
                            if game.match_id == 32 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Aleria"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ALG.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/CMR.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Cameroon"
                    td#result
                        p=r.game33CMR +" - "+r.game33BRA
                        each game, g in games
                            if game.match_id == 33 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Brazil"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/BRA.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/CRO.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Croatia"
                    td#result
                        p=r.game34CRO +" - "+r.game34MEX
                        each game, g in games
                            if game.match_id == 34 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Mexico"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/MEX.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/AUS.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Australia"
                    td#result
                        p=r.game35AUS +" - "+r.game35ESP
                        each game, g in games
                            if game.match_id == 35 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Spain"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ESP.svg.png" height="50" width="50")


                tr
                    td 
                        img(src="images/NED.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Netherlands"
                    td#result
                        p=r.game36NED +" - "+r.game36CHI
                        each game, g in games
                            if game.match_id == 36 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Chile"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CHI.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/JPN.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Japan"
                    td#result
                        p=r.game37JPN +" - "+r.game37COL
                        each game, g in games
                            if game.match_id == 37 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Colombia"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/COL.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/GRE.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Greece"
                    td#result
                        p=r.game38GRE +" - "+r.game38CIV
                        each game, g in games
                            if game.match_id == 38 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Côte d'Ivoire"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/CIV.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ITA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Italy"
                    td#result
                        p=r.game39ITA +" - "+r.game39URU
                        each game, g in games
                            if game.match_id == 39 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Uruguay"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/URU.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/CRC.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Costa Rica"
                    td#result
                        p=r.game40CRC +" - "+r.game40ENG
                        each game, g in games
                            if game.match_id == 40 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="England"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ENG.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/HON.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Honduras"
                    td#result
                        p=r.game41HON +" - "+r.game41SUI
                        each game, g in games
                            if game.match_id == 41 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Switzerland"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/SUI.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ECU.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Ecuador"
                    td#result
                        p=r.game42ECU +" - "+r.game42FRA
                        each game, g in games
                            if game.match_id == 42 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="France"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/FRA.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/NGA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Nigeria"
                    td#result
                        p=r.game43NGA +" - "+r.game43ARG
                        each game, g in games
                            if game.match_id == 43 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Argentina"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/ARG.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/BIH.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Bosnia and Herzegovina"
                    td#result
                        p=r.game44BIH +" - "+r.game44IRN
                        each game, g in games
                            if game.match_id == 44 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Iran"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/IRN.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/USA.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="USA"
                    td#result
                        p=r.game45USA +" - "+r.game45GER
                        each game, g in games
                            if game.match_id == 45 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Germany"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/GER.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/POR.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Portugal"
                    td#result
                        p=r.game46POR +" - "+r.game46GHA
                        each game, g in games
                            if game.match_id == 46 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Ghana"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/GHA.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/KOR.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Korea Republic"
                    td#result
                        p=r.game47KOR +" - "+r.game47BEL
                        each game, g in games
                            if game.match_id == 47 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Belgium"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/BEL.svg.png" height="50" width="50")

                tr
                    td 
                        img(src="images/ALG.svg.png" height="50" width="50")
                    td(style="width: 20px")
                            &nbsp;
                    td#team1
                        p="Algeria"
                    td#result
                        p=r.game48ALG +" - "+r.game48RUS
                        each game, g in games
                            if game.match_id == 48 && game.score1 != null
                                a(href=game.url target="_blank")
                                    p(style="font-size:13px;")="Final score: " + game.score1 + " - " + game.score2
                    td#team2
                        p="Russia"
                    td(style="width: 20px")
                            &nbsp;
                    td 
                        img(src="images/RUS.svg.png" height="50" width="50")
